{% extends "network/layout.html" %}

{% block body %}

<h1>{{ username }}'s Profile</h1>

<div class="profile-info">
    <p><strong>Followers:</strong> {{ follower_count }}</p>
    <p><strong>Following:</strong> {{ following_count }}</p>
    {% if not myprofile %}
    <button id="follow-btn" class="btn btn-primary">Follow</button>
    {% endif %}
</div>

<div>
    <ul>
        {% for post in posts %}
        <li class="post-item">
            <div class="post-header">
                <h2 class="post-title"><a href="{% url 'profile'  post.user_name.id %}">{{ post.user_name }}</a></h2>
                <p class="post-content">{{ post.content }}</p>
            </div>
            <div class="post-footer">
                <div class="post-likes">
                    <div class="like-section">
                        <ion-icon name="heart">
                            <div class='red-bg'></div>
                        </ion-icon>
                        <p class="likes-count">{{ post.likes }} Likes</p>
                    </div>
                </div>
                <p class="post-date">{{ post.post_date|date:"F j, Y, g:i a" }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}